-com.twitter.finatra.config.port=:8092
-com.twitter.finatra.config.sslPort=:8450
-com.foo.cte.server.config.admin.port=:9910
-com.foo.cte.server.config.thrift.port=:9010

-com.foo.cte.server.config.tls.trustStore=etc/truststore.jks
-com.foo.cte.server.config.tls.trustStorePass=password
-com.foo.cte.server.config.tls.keyStore=etc/twlserver.jks
-com.foo.cte.server.config.tls.keyStorePass=password


#-com.foo.cte.server.config.zk.announcementPoint=/chimera/service/export/semantica/1.0/
#-com.foo.cte.server.config.zk.zookeeperConnection=chm-zoo01:2181,chm-zoo02:2181,chm-zoo03:2181

-acl.whitelist.file=etc/whitelist.txt

-com.foo.cte.server.config.filter.blockHttp=false
-com.foo.cte.server.config.ipAddress.enableIpAddressResolution=true

#Logging
-com.twitter.finatra.config.logLevel=DEBUG
#-com.twitter.finatra.config.logNode=finatra
#-com.twitter.finatra.config.logPath=/logs/finatra.log

-com.twitter.finatra.config.env=production
-com.twitter.finatra.config.assetPath=/public
